@font-face {
  font-family: "iconfont"; /* Project id 4064967 */
  src: url('iconfont.woff2?t=1683884684354') format('woff2'),
       url('iconfont.woff?t=1683884684354') format('woff'),
       url('iconfont.ttf?t=1683884684354') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongzuotai1:before {
  content: "\e636";
}

.icon-icon-project:before {
  content: "\e64a";
}

